/*CARRUSEL Y CARDS*/
.carousel-item img{
    width: 40%;
    margin: auto;
    padding: 20px;

}

.card{
    width: 18rem;
    margin: 46px 100px 60px 840px;
    padding: 0px 0px 0px 0px;
   
}


#carrusel-card{
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
}

.imagendeskate {
    margin: -35px;
    padding: 0px 0px 100px 0px; 
    display: flex;
    justify-content: space-around;
}

.videodeskate{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.card:hover{
    cursor: pointer;	
    box-shadow: 0px 0px 17px 5px #000000;

}

.imagendeskate img:hover{
    box-shadow: 0px 0px 17px 5px #000000;

}

.Imagenesdesurf{
    padding: 20px 20px 20px 20px;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
}

.Imagenesdesurf img:hover{
    box-shadow: 0px 0px 17px 5px #000000;
}